* {
  box-sizing: content-box;
}

.bootform {
  display: flex;
  height: 100vh;
  align-items: center;
  width: 100vh;
  background-color: aquamarine;
}

.bootform .needs-validation {
  border-color: #020649 !important;
  margin: 20px;
  padding: 25px;
  color: #501919;
  background-color: #9292e6;
}

.bootform .needs-validation .col-md-4 {
  padding: 5px 0 0 0;
}

.bootform .needs-validation .col-12 {
  padding-bottom: 10px;
}

.bootform .needs-validation .col-12 .form-check-input {
  margin-right: 12px;
}

.bootform .needs-validation .col-md-4,
.bootform .needs-validation .col-md-6,
.bootform .needs-validation .col-12 {
  padding: 5px 10px 0 10px;
  width: 100%;
  font-family: 'Tiro Devanagari Hindi', serif;
}
